@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    img {
        width: 25%;
        height: auto;
    }
</style>
<div class="text-left">
    <img src="Yam_Robert.jpg" alt="Professional headshot">
    <h1 class="display-4">Robert Yam</h1>
    <p>Computer Science at Texas A&M University, College Station</p>
</div>

<div class="tect-left">
    <h3>Education</h3>
    <ul>
        <li>Texas A&M '23, Major in Computer Science, Minor in Business</li>
        <li>Engineering Honors</li>
        <li>Certified ScrumMaster, SAFe Agilist</li>
    </ul>
    <h3>Work</h3>
    <ul>
        <li>Intern at Charles Schwab in Austin, Cross Enterprise Services <i>(June 2022 - current)</i></li>
        <li>Produce at H-E-B in College Station <i>(April 2021 - current)</i></li>
        <li>Management at Randalls in Austin <i>(May 2019 - April 2021)</i></li>
        <p>Have job and company, collapsible with details and logo</p>
    </ul>
    <h3>Projects</h3>
    <ul>
        <li>MuTrade - Cryptocurrency trading in simulated environment</li>
        <li>Driver Check-In -  Transportation dispatch management software</li>
        <li>DisasterHelp - Resource management for natural disasters</li>
        <li>MovieDB - Movie database with recommender system</li>
        <li>Personal Website - static site about me</li>
    </ul>
    <h3>Skills</h3>
    <ul>
        <li>ASP.NET MVC, MS SQL Server, C#/C++/Java, SQL, Python, JavaScript, HTML/CSS</li>
        <li>Data Structures/Algorithms, Databases, Web Development, Agile/Scrum</li>
        <li>Operations management, sales operations, retail merchandising</li>
    </ul>
</div>
