@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    img {
        width: 15%;
        height: auto;
    }
</style>
<img src="YamRobert.jpg" alt="Professional headshot"> </img>
<div class="text-left">
    <h1 class="display-4">
        Robert Yam
    </h1>
    <p>Computer Science at Texas A&M University, College Station</p>
    
</div>

<div class="tect-left">
    <h3>Education</h3>
    <ul>
        <li>Texas A&M '23, Major in Computer Science, Minor in Business</li>
        <li>Engineering Honors</li>
        <li>Certified ScrumMaster, SAFe Agilist</li>
    </ul>
    <h3>Work</h3>
    <ul>
        <li>Intern at Charles Schwab in Austin, Cross Enterprise Services <i>(June 2022 - current)</i></li>
        <li>Produce at H-E-B in College Station <i>(April 2021 - current)</i></li>
        <li>Management at Randalls in Austin <i>(May 2019 - April 2021)</i></li>
        <!-- Have job and company, collapsible with details and logo -->
    </ul>
    <h3>Projects</h3>
    <ul>
        <li>MuTrade - Cryptocurrency trading in simulated environment - React.js/Node/Express/PostgreSQL</li>
        <li>Driver Check-In -  Transportation dispatch management software - ASP.NET MVC 5/MS SQL Server</li>
        <li>DisasterHelp - Resource management for natural disasters - .NET Core web app</li>
        <li>MovieDB - Movie database with recommender system - Java/FX/Swing/PostgreSQL</li>
        <li>Personal Website - static site about me - .NET Core web</li>
    </ul>
    <h3>Skills</h3>
    <ul>
        <li>ASP.NET MVC, MS SQL Server, C#/C++/Java, SQL, Python, JavaScript, HTML/CSS</li>
        <li>Data Structures/Algorithms, Databases, Web Development, Agile/Scrum</li>
        <li>Operations management, sales operations, retail merchandising</li>
    </ul>
</div>
